body{
    background-color: #F8F4F1;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    
}
.links a{
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
}


.container{
    display:flex;
    width: 80%;
    margin: auto;
       
}

.post-preview{
    background-color: #DFEEED;
    border-radius: 10px;
    min-height: 90px;
}

.post-preview h2,p {
    margin:15px;
}

.create{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.create form{
    display: flex;
    flex-direction: column;
    
}